.tracks {
    width: 80%;
    margin: 10px auto;
    padding: 0;
}

.tracks > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;

    max-width: 250px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.2);
}

.track-logo {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color: #3f51b5;
    filter: brightness(175%);
}

.tracks > li > a > span {
    display: flex;
    font-size: 0.75em;
    text-align: left;
    margin: 0 0 0 5px;
    color: #000;
}

/* Vista para otros dispositivos */

@media(min-width: 320px) {
    .tracks > li {
        max-width: 280px;
    }
}

@media(min-width: 768px) {
    .tracks > li {
        max-width: 450px;
    }

    .track-logo {
        padding: 10px 40px 10px 40px;
    }

    .tracks > li > a > span {
        font-size: 0.9em;
        margin: 0 15px;
    }
}

@media(min-width: 1024px) {
    .tracks > li {
        max-width: 600px;
    }

    .track-logo {
        padding: 10px 70px 10px 70px;
    }

    .tracks > li > a > span {
        font-size: 1em;
        margin: 0 30px;
    }
}