body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #e0f7fa;
}

.app {
    height: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
}

ul > li {
    list-style: none;
}

.artist-name {
    padding-top: 40px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #64b5f6;
    color: #e1f5fe;
    border-radius: 10px;
    border-bottom: solid 3px #0288d1;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

/* Otros dispositivos */

@media(min-width: 320px) {
    .artist-name {
        padding-top: 30px;
        width: 35%;
    }

    .artist-name > span {
        font-size: 0.9em;
    }
}

@media(min-width: 768px) {
    .artist-name {
        padding-top: 45px;
        width: 20%;
    }
}

@media(min-width: 1100px) {
    .artist-name {
        padding-top: 50px;
        width: 15%;
    }

    .artist-name > span {
        font-size: 1.1em;
    }
}

